<script>
 window.gameName = "<%= @name %>";
</script>

<div class="row">
  <div class="column">
    <h1>Ian's Memory Game</h1>
    <p>Channel: <%= @name %></p>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>