/* This file is for your main application css. */

@import "~milligram/dist/milligram";

html,
body,
.container,
.row {
  height: 100%;
}

.tile {
  border: 2px solid gray;
  height: 100px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  display: block;
  padding-top: 25px;
}

.completed {
  background-color: lightgreen;
  color: white;
}

#score {
  margin-left: 10px;
}
